<!DOCTYPE html>
<html>
  <head>
    <title>Login/SignUp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Login/Signup Task</p>
  </body>
</html>
